* {
   margin: 10px;
   padding: 0;
   box-sizing: border-box;  
}
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

body::before {
    
    padding: 1.2rem;
    position:absolute;
    width: min(1400px,90vw);
    top: 10%;
    left:50%;
    height:90%;
    pointer-events: none;
}

nav {
    background-color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none ;
    color: black;
    align-items: left;
    
}
nav a :hover {
    background-color: rgb(186, 186, 186);
}
nav li:first-child{
    margin-right: auto;
}

.sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 92.6vh;
    width: 80%;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px); 
    box-shadow: -10 0 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999;  
}

.sidebar.li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menubtn {
    display:none ;

}

@media (max-width:800px){
    .hideonmoblie{
        display: none;
    }
    .menubtn {
        display: block;
    }
}
@media (max-width:400px){
    .sidebar{
        width: 100%;
    }
}

div {
    outline: 5px solid black;
    background-color: rgb(181, 255, 138);
    
}
.slide1{
    display: flex;
    outline:2px solid black;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.heads{
    outline: 3px solid black;
}
.p1{
    outline: 2px solid black;
    display: flex;
}
.bucks1{
    outline: 3px solid black;
}
.btn1{
    outline: 3px solid black;
}

